#__next > div > div > div:nth-child(2) > div
{
/*     background-image: url("bg2.png");    
 */
 background-color: #063586;
  background: url('/static/must.jpeg') no-repeat;
  background-size:cover;
  background-position: center;
  margin: 0 auto;
  background-origin: inherit;
  position: relative;
  height: auto;
 
}
#__next > div > div > div:nth-child(2) > div > div.ui.large.inverted.pointing.secondary.menu
{
    border-width: 0mm;
}